#page-criar {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#page-criar main {
    position: relative;
}

form {
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    position: relative;
    width: 350px;
    border-radius: 5px;
}

#page-criar h1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--strong-color);
    font-size: 18pt;
    text-transform: uppercase; 
    margin-bottom: 30px;
}

/* Divs */

.field, .field-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.field, .field-file {
    width: 100%;
}

.field-group {
    width: 47.5%;
}

.field-group + .field-group {
    margin-left: 5%;
}

/* Campos */

label {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 12pt;
}

.form-label {
    margin-bottom: 5px;
}

.form-input {
    background-color: var(--input-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    font-size: 14pt;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Arquivo */

.field-file {
    margin-top: 40px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;

    margin-bottom: 80px;
}

.field-file:hover {
    background-color: var(--dropdown-hover-color);
    opacity: 80%;
}

.field-file-image {
    width: 100px;
    height: 100px;

    background-color: var(--input-color);
    border: 1px solid var(--primary-color);

    overflow: hidden;
    border-radius: 5px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.field-file input {
    width: 100%;
    height: 100%;
    opacity: 0%;
    position: absolute;
    z-index: 2;
}

.field-file-image p {
    position: absolute;
    font-size: 30pt;
    color: var(--primary-color);
    font-weight: lighter;
}

.field-file label {
    margin-left: 10px;
}

/* Botões */

#page-criar button, .btn-link {
    border-radius: 5px;
    

    height: 40px;
    font-size: 14pt;

    cursor: pointer;
    transition: 0.2s;
}

.form-button {
    background-color: var(--button-color);
    width: 220px;
    color: #fff;

    border: none;
    
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.form-button:hover {
    background-color: var(--button-hover-color);
}
.btn-link {
    background-color: blue;
    width: 100%;
    margin-top: 20px;
    background-color: var(--card-color);
    color: var(--primary-color);
    text-decoration: none;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-link:hover {
    opacity: 70%;
}